# Jason owns the document hierarchy and build scripts
* @JasonBrave

# Onboarding and Tutorials
/onboarding-tutorials/electrical-onboarding/ @JasonBrave @AshTheEngiqueer
/onboarding-tutorials/software-onboarding/ @Darth-Raazi @zangjiucheng
/onboarding-tutorials/firmware-how-to/ @JasonBrave @AshTheEngiqueer @celery6
/onboarding-tutorials/software-how-to/ @Darth-Raazi @zangjiucheng

 # Electrical
/avionics/ @JasonBrave @AshTheEngiqueer
/electrical-gse/ @JasonBrave @Pdada1
/electrical-tools/ @JasonBrave @AshTheEngiqueer

# Software
/software/ @Darth-Raazi @zangjiucheng

# Controls
/controls/ @Redstone-ray @celery6
