[submodule "firmware-library/rocketlib"]
	path = firmware-library/rocketlib
	url = https://github.com/waterloo-rocketry/rocketlib.git
[submodule "firmware-library/canlib/canlib"]
	path = firmware-library/canlib/canlib
	url = https://github.com/waterloo-rocketry/canlib.git
